*~
*.exe
*.o
*.a
*.tmp
temp/*
xcode/*
exe/*
obj/*
lib/*
doxy/*
docs/readme.aux
docs/readme.dvi
docs/readme.log
docs/readme.out
docs/readme.toc
docs/readme_raga.aux
docs/readme_raga.dvi
docs/readme_raga.log
docs/readme_raga.out
docs/readme_raga.toc
docs/bib.pl
python/*
pytests/*.pyc
raga/*
.DS_Store
Makefile.local
